Repository dcramer/gamegame-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, typecheck

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy src'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typecheck:
  name: tsc
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

Add reliability improvements
  backend/pyproject.toml
  backend/src/gamegame/api/chat.py
  backend/src/gamegame/api/health.py
  backend/src/gamegame/api/middleware.py
  backend/src/gamegame/main.py
  backend/src/gamegame/services/openai_client.py
  backend/src/gamegame/services/pipeline/ingest.py
  backend/src/gamegame/services/resilience.py
  backend/src/gamegame/services/workflow_tracking.py
  backend/src/gamegame/tasks/pipeline.py
  backend/src/gamegame/tasks/queue.py
  backend/uv.lock
Due: mypy

Add tests for resource upload endpoint
  backend/tests/api/test_resources.py
Due: mypy

Fix navigation links to use / instead of /games
  frontend/app/routes/_main.tsx
  frontend/app/routes/games.$gameIdOrSlug.tsx
Due: eslint, typecheck

Fix admin layout margin issues and structure
  frontend/app/components/admin-layout.tsx
Due: eslint, typecheck

Fix layout padding and update footer to match original
  frontend/app/components/admin-layout.tsx
  frontend/app/routes/_main.tsx
Due: eslint, typecheck

Simplify pipeline to sequential processing with better logging
  AGENTS.md
  TESTING.md
  backend/src/gamegame/cli/__init__.py
  backend/src/gamegame/cli/search.py
  backend/src/gamegame/services/openai_client.py
  backend/src/gamegame/services/pipeline/cleanup.py
  backend/src/gamegame/services/pipeline/embed.py
  backend/src/gamegame/services/pipeline/vision.py
  backend/src/gamegame/tasks/pipeline.py
  backend/tests/tasks/test_pipeline.py
  docs/scythe-example.md
  frontend/app/routes/_main.admin.games.$id_.resources.$resourceId.tsx
Due: mypy, eslint, typecheck

Fix pipeline timeouts and improve retry/progress tracking
  backend/src/gamegame/api/resources.py
  backend/src/gamegame/models/model_config.py
  backend/src/gamegame/services/pipeline/cleanup.py
  backend/src/gamegame/services/pipeline/segments.py
  backend/src/gamegame/tasks/pipeline.py
  frontend/app/routes/_main.admin.workflows.tsx
Due: mypy, eslint, typecheck

Improve RAG search: disable FTS, fix HyDE, optimize prompts
  backend/src/gamegame/services/chat.py
  backend/src/gamegame/services/pipeline/embed.py
  backend/src/gamegame/services/search.py
Due: mypy

Add license
  LICENSE
Due: none

round two of rag
  .claude/settings.json
  backend/migrations/versions/h5678901cdef_add_segment_summary_embeddings.py
  backend/pyproject.toml
  backend/src/gamegame/models/embedding.py
  backend/src/gamegame/services/chat.py
  backend/src/gamegame/services/pipeline/embed.py
  backend/src/gamegame/services/search.py
  backend/src/gamegame/tasks/pipeline.py
  backend/uv.lock
Due: mypy

ref: Streamline RAG system and chat prompts
  backend/src/gamegame/services/chat.py
  backend/src/gamegame/services/search.py
Due: mypy

Fix chat request validation and attachment client endpoints
  backend/src/gamegame/api/chat.py
  frontend/app/api/client.ts
Due: mypy, eslint, typecheck

Add structured chat context streaming and per-message citations
  backend/src/gamegame/services/chat.py
  frontend/app/api/types.ts
  frontend/app/components/chat/message.tsx
  frontend/app/hooks/useChat.ts
  frontend/app/routes/games.$gameIdOrSlug.tsx
Due: mypy, eslint, typecheck

Skip DB-dependent tests when test Postgres is unavailable
  backend/tests/conftest.py
Due: mypy

Add chat streaming context and role validation regression tests
  backend/tests/api/test_chat.py
  backend/tests/services/test_chat_streaming.py
Due: mypy

Fix frontend workflow page formatting lint violation
  frontend/app/routes/_main.admin.workflows.tsx
Due: eslint, typecheck

Harden chat grounding and validate resource reprocess stages
  backend/src/gamegame/api/resources.py
  backend/src/gamegame/services/chat.py
  backend/tests/api/test_resources.py
  backend/tests/services/test_chat_streaming.py
Due: mypy

Add lightweight chat eval harness and frontend smoke test scaffolding
  TESTING.md
  backend/evals/cases/boardgame_smoke.json
  backend/src/gamegame/cli/__init__.py
  backend/src/gamegame/cli/evals.py
  backend/tests/services/test_evals_cli.py
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/smoke.spec.ts
Due: mypy, eslint, typecheck

Path conditions:
  mypy: any of: ^backend/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typecheck: any of: ^frontend/.*\.(ts|tsx)$
